@using Orchard.Security
@using SoftIT.HouseParty.Models
@using Orchard.ContentManagement
@using Orchard.Services

@{
    var users = (IContentQuery<IUser>)Model.ContentPart.Users;

    Script.Require("UserSearch.Filter").AtFoot();
}

<div ng-app="userSearchFilter"
     ng-controller="userSearchFilterController">
    <input type="text" ng-model="filterValue" />
    <ul>
        @foreach (var user in users.ForPart<HousePartyUserPart>().List())
        {
            if (!string.IsNullOrWhiteSpace(user.FirstName) && !string.IsNullOrWhiteSpace(user.LastName))
            { 
                <li ng-show="filterValue != '' && ('@user.FirstName.ToLower()'.indexOf(filterValue.toLowerCase()) != -1 || '@user.LastName.ToLower()'.indexOf(filterValue.toLowerCase()) != -1 )">@Html.ActionLink(user.FirstName + " " + user.LastName, "Index", "HousePartyUser", new { Area = "SoftIT.HouseParty", userId = user.Id }, new { })</li>
            }
        }
    </ul>

</div>

