@using Orchard.Security
@using Orchard.ContentManagement

@{
    var partyId = (int)Model.PartyId;
    var friends = (IEnumerable<IUser>)Model.Friends;
    var invitedFriends = (IEnumerable<IUser>)Model.InvitedFriends;
}

<h2>@T("Invited friends")</h2>

<ul>
    @foreach (var friend in invitedFriends)
    {
        <li>
            @Html.ActionLink(friend.UserName, "SetUserState", "Party", new { partyId = partyId, userId = WorkContext.CurrentUser.Id, request = 1 }, new { })
        </li>
    }
</ul>

<h2>@T("Friends")</h2>

<ul>
    @foreach (var friend in friends)
    {
        <li>
            @Html.ActionLink(friend.UserName, "SetUserState", "Party", new { partyId = partyId, userId = WorkContext.CurrentUser.Id, request = 0 }, new { })
        </li>
    }
</ul>